button{

    background-color:rgb(2, 170, 16);
    font-size:30px;
    border-radius:30px;
   
    
}
button:hover{
       background-color: rgb(0, 255, 213);
       border-radius:30px;
      
}
p{
    font-size:25px;
    text-align: center;
}
h1{
    font-size:50px;
    text-align:center;
}
